{
  "plugins": ["prettier"],
  "extends": [
    "airbnb-base",
    "eslint:recommended",
    "plugin:prettier/recommended"
  ],
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "func-names": 0,
    "no-underscore-dangle": 0
  }
}
